/* dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug */

dl.remark
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #d1840a;
}
dl.todocument
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #912429;
}

a {
	color: #1E1E1E;
	font-weight: bold;
	text-decoration: none;
}
.contents a:visited {
	color: #1E1E1E;
}

.image
{
        text-align: left;
}

div.image img[src="akima_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="poly_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="steffen_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="quadratic_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="cubicSpline_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="flatfwd_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="flatbwd_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="cubic_interpolation.png"]{ 
    width:600px; 
}
div.image img[src="algebraic_curves_calibration.png"]{ 
    width:600px; 
}
/* @end */
